/* styles for CustomerList.js */ 

.customers {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

.customer {
    background-color:skyblue; 
    border: 2px dotted slateblue;
    color: black; 
    padding: 0.5rem; 
    margin: 0.5rem; 
}

/* styles for CustomerDetails.js */ 

.customer__footer {
    margin: 1rem 0 0.25rem 0; 
    font-style: oblique; 
}

.customer__header {
    font-size: larger; 
    font-weight: 700; 
    line-height: 3rem; 
}